.App {
  text-align: center;
}
.SideList {
  text-align: left;
  width: 350px;
  background-color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
